* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  color: #333;
  padding: 20px;
  background: linear-gradient(to bottom, #56a3e2, #ddee25);
  min-height: 100vh;
}

/* Index css */

.list {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  font-size: 3rem;
  color: #ffffff;
  margin: 40px 0 30px 0;
}

.teams {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.team-card {
  display: block;
  text-decoration: none;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}


.team-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.team-card h2 {
  padding: 15px;
  font-size: 1.5rem;
  color: #333;
  background: white;
}

.fixed-bottom-logo {
  position: fixed;
  bottom: 5px;
  right: 20px;
  width: 100px;         
  z-index: 999;
  border-radius: 20px;
}

/* Dames - Hommes css */

.container {
  display: flex;
  column-gap: 20px;
  padding: 10px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.player {
  width: 147px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.player img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center top;
  margin-top: 20px;
}

.info {
  padding: 15px;
  flex: 1;
}

.info h3 {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.info p {
  color: #555;
  margin: 4px 0;
  font-size: 0.9em;
}

.back-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 30px;
  background: #333;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-size: 1.1rem;
}

.back-btn:hover {
  background: #000;
}

.player-link {
  text-decoration: none;  
  color: inherit;         
}

.player {
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}
