* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  color: #333;
  padding: 20px;
  background: linear-gradient(to bottom, #56a3e2, #ddee25);
  min-height: 100vh;
}

.back-btn {
  display: inline-block;
  margin-top: 30px 0 0 0;
  padding: 12px 30px;
  background: #333;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-size: 1.1rem;
}

.back-btn:hover {
  background: #000;
}

.info p {
  color: #555;
  margin: 4px 0;
}

.player-page {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px 30px 10px 30px;
    background: white;
    border-radius: 24px;
    position: relative;
    overflow: hidden;
}

.player-img {
    width: 380px;
    max-width: 100%;
    border-radius: 24px;
    margin: 20px auto;
    display: block;
}

.stats {
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #000000;
    padding: 25px;
    margin: 30px 0;
    font-size: 1.2rem;
    line-height: 2.2;
    backdrop-filter: blur(5px);
}

.stats strong {
    color: #000000;
    font-weight: 800;
}
